@import "font.css";

:root {
  --radius: 10px;
  --light-div: #E7E7E8;
  --accent: #f78b1f;
  --radius-style: 0 5px;
  --footer: #363636;
  --deep: #171A1A;
  --dark: #202328b9;
  --dark-header: #6F7A8B;
  --dark-div: #2D3038;
  --text: #333;
  --transition: .25s ease-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Kinetika";
  overflow-x: hidden;
}

section {
  padding: 50px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #010101;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

input,
textarea {
  outline: none;
}

.button {
  outline: none;
  border: none;
  padding: 12px 28px;
  background: var(--accent);
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  border-radius: var(--radius-style);
  letter-spacing: 0.25px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background: var(--accent-light);
}

.button:active {
  background: var(--accent-dark);
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: var(--accent);
  color: #fff;
}

::selection {
  background-color: var(--accent);
  color: #fff;
}


dl, ol, ul {
  margin-bottom: 0;
}

/* header start */

header {
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 90px;
}

.header__nav {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
}

.header__link {
  color: #000;
  font-size: 24px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
}

.header__link.active {
  position: relative;
}

.header__link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -4px;
  height: 2px;
  background: var(--accent);
  width: 110%;
}

.header__setup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 27px;
  -moz-column-gap: 27px;
  column-gap: 27px;
}

.header__banner {
  background: url(../images/headerBanner.png) no-repeat center/cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: ease-in background 0.3s;
  -o-transition: ease-in background 0.3s;
  transition: ease-in background 0.3s;
}

.header__banner-ru {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__page-banner {
  background: url(../images/servicesBanner.png) no-repeat center center/cover;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.category__header .header__page-banner {
  background: url(../images/bannerlarge.jpg) no-repeat center center/cover;
  opacity: 0.85;
}

.contact__banner {
  background: url(../images/contactBanner.jpg) no-repeat center/cover;
}

.grape-banner {
  background: url(../images/grape.jpg) no-repeat center center/cover;
  min-height: 50vh;
}

.header__banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--underFilter);
}

.header__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--topFilter);
  background-blend-mode: multiply;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.header__banner .container,
.header__page-banner .container {
  z-index: 11;
}

.header__title {
  font-size: 80px;
  color: #fff;
  max-width: 960px;
  line-height: 150px;
  font-weight: 500;
}

.header__title-ru {
  margin: 0 auto;
  line-height: 80px;
}

.header__span-ru {
  font-size: 44px;
  font-weight: 400;
}

.header__page-title {
  font-size: 120px;
  color: #fff;
}

.header__txt {
  font-size: 30px;
  color: var(--text);
  max-width: 876px;
}

.header__txt i {
  font-size: 18px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 999;
  -webkit-box-shadow: 0 3px 12px rgba(69, 128, 184, 0.15);
  box-shadow: 0 3px 12px rgba(69, 128, 184, 0.15);
  padding-top: 10px;
  border-radius: 10px;
  background: #fff;
}

.nav-dropdown li {
  padding: 10px 15px;
}

.nav-dropdown li a {
  color: #000;
  font-size: 18px;
}

.header__item:hover .nav-dropdown {
  display: block;
}

.header__menu {
  display: none;
}

.header__menu a {
  color: #000000;
}

.scroll.header__menu a {
  color: #fff;
}

.exit {
  display: none;
}

/* header end */


.page__main {
  background: url(../images/mainBack.png);
  background-size: cover;
}

/* gallery start */

.gallery {
  text-align: center;
}

.gallery__cards {
  display: flex;
}

.gallery__card {
  max-width: 100%;
  max-height: 360px;
  overflow: hidden;
  display: flex;
  width: 100%;
  border: 1px solid rgba(233, 221, 221, 0.472);
}

.gallery__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.gallery__card img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* gallery end */

/* health start */

.health {
  padding: 50px 0;
  text-align: center;
}

.health .container {
  max-width: 768px;
}

.health__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  color: var(--mainText);
  margin-bottom: 24px;
}

.health__txt {
  margin: 0 auto;
  font-size: 18px;
  line-height: 22.5px;
  margin-bottom: 100px;
  letter-spacing: .5px;
}

.health__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.health__card {
  display: grid;
  place-items: center;
}

.health__card-span {
  font-size: 18px;
  color: var(--mainText);
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 12px;
}

.health-ru {
  padding-bottom: 550px;
}

.health__cards-ru {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* health end */

/* sort start */

.sort {
  padding: 120px 0 250px;
  text-align: center;
}

.sort__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 100px;
}

.sort__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
}

.sort__line-desc {
  text-align: left;
}

.sort__line-desc-title {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 12px;
}

.sort__line-desc-txt {
  max-width: 447px;
  font-size: 18px;
  line-height: 22.5px;
  color: var(--paragraph);
}

/* sort end */

/* footer start */

.footer {
  background: var(--footer);
  padding: 50px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__list {
  max-width: 404px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  text-align: left;
}

.footer__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__title {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__item {
  margin-bottom: 5px;
}

.footer__item iframe {
  height: 450px;
}

.footer__txt {
  color: #c4c4c4;
  font-size: 18px;
  margin-bottom: 50px;
}

.footer__link {
  color: #c4c4c4;
}

.footer__form {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__form input {
  min-height: 35px;
  margin-bottom: 20px;
  padding: 1px 5px;
}

.footer__form textarea {
  min-height: 120px;
  margin-bottom: 20px;
}

.footer__button {
  max-width: 235px;
  padding: 10px 10px;
  color: #fff;
  background: #F5C234;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
}

/* footer end */

/* info start */

.info .container {
  padding-top: 80px;
  text-align: center;
}

.info__desc {
  font-size: 18px;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.info__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
}

.info__line-img {
  max-width: 680px;
  max-height: 380px;
  overflow: hidden;
}

.info__line-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.info__line-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.info__line-txt {
  color: var(--paragraph);
  font-size: 18px;
  margin-bottom: 60px;
  max-width: 520px;
}

/* info end */

/* feature start */

.feature {
  padding-top: 0;
}

.feature__title {
  color: var(--mainText);
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 40px;
  font-weight: 400;
}

.feature__cards {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.feature__card {
  padding: 15px;
  background: #fff;
  border-radius: var(--radius);
  width: 33%;
  text-align: center;
  overflow: hidden;
  box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
  position: relative;
  border-bottom: 3px solid var(--accent);
  min-height: 444px;
}

.feature__card img {
  width: 100%;
}

.feature__name {
  font-size: 18px;
  color: #111;
  font-weight: bold;
}

.feature__info {
  background: #f5f5f5;
  position: absolute;
  bottom: -320px;
  left: 15px;
  right: 15px;
  height: 100%;
  transition: .3s;
}

.feature__card:hover .feature__info {
  bottom: -220px;
}

.feature-icon {
  color: var(--accent);
}

.feature__txt {
  color: #999;
  padding-bottom: 20px;
  font-size: 15px;
}

.feature_btn {
  color: #fff;
  background: var(--accent);
  padding: 15px 10px;
  border-radius: var(--radius);
  font-weight: bold;
}

/* feature end */

/* fruit start */

.fruit .container {
  text-align: center;
  padding-top: 50px;
}

.fruit__title {
  color: var(--mainText);
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 80px;
  font-weight: 400;
}

.fruit__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.fruit__card {
  max-width: 490px;
  width: 100%;
  max-height: 290px;
  background: white;
  margin-top: 150px;
  border-radius: 10px;
  text-align: left;
  padding: 0 30px;
}

.fruit__image {
  max-width: 330px;
  max-height: 270px;
  margin: 0 auto;
}

.fruit__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: -150px;
}

.fruit__name {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 12px;
}

/* fruit end */

/* sertificate start */

.sertificate__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sertificate__card {
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
}

.sertificate__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* sertificate end */

/* about start */

.about {
  padding: 80px 0 20px;
  text-align: center;
}

.about__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: var(--mainText);
  margin-bottom: 24px;
}

.about__desc {
  font-size: 18px;
  color: var(--paragraph);
  max-width: 960px;
  margin: 0 auto 100px;
}

.about__banner img {
  margin-bottom: 80px;
  width: 1140px;
}

.about__info-txt {
  font-size: 18px;
  line-height: 22.5px;
  text-align: center;
  margin-bottom: 80px;
}

.about__line {
  text-align: left;
}

.about__line-title {
  font-weight: 700;
}

.about__line-txt {
  font-weight: 500;
}

/* about end */

/* contact start */


.contact__title {
  font-size: 48px;
  line-height: 60px;
  color: var(--mainText);
  margin: 0 25px 30px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contact__item {
  font-size: 24px;
  line-height: 30px;
  max-width: 730px;
  margin-bottom: 30px;
  font-weight: 400;
}

.contact__item i {
  color: green;
  margin-right: 6px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.contact__form input {
  width: 610px;
  min-height: 65px;
  padding: 19px 33px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: var(--paragraph);
}

.contact__form-btn {
  width: 233px;
  height: 65px;
  background: #F5C234;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contact__txt {
  margin-bottom: 100px;
}

.contact__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.contact__item-list a {
  color: #555;
}

.listUnder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.map {
  height: 400px;
  margin: 100px 0;
}

/* contact end */

/* blog start */

.blog {
  padding: 50px 0 250px;
}

.blog__title {
  font-size: 120px;
  color: #FF4F4F;
  line-height: 152px;
  text-align: center;
}

.blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  row-gap: 50px;
}

.blog__card {
  background: white;
  border-radius: var(--radius);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.blog__card.top {
  margin-top: -100px;
}

.blog__content {
  padding: 25px 35px;
  max-width: 390px;
}

.blog__date {
  font-size: 12px;
  color: #818181;
  margin-bottom: 14px;
}

.blog__name {
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  max-width: 224px;
  margin-bottom: 8px;
}

.blog__txt {
  font-size: 14px;
  color: #818181;
  max-width: 282px;
  margin-bottom: 10px;
  line-height: 17.5px;
}

.blog__btn {
  font-size: 12px;
  font-weight: 700;
  display: block;
  color: var(--underline);
  line-height: 15px;
  margin-bottom: 60px;
}

.blog__author {
  font-size: 12px;
  color: #818181;
}

/* blog end */

/* dropdown menu */

.sub-menu-1,
.sub-menu-lang {
  display: none;
  padding-top: 25px;
}

.sub-menu-1 ul {
  background: #fff;
  width: 290px;
  padding: 15px 25px;
}

.sub-menu-1 ul li {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sub-menu-1 ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header__item-lang a img {
  max-width: 30px;
  max-height: 30px;
}

.sub-menu-1 ul li a:hover {
  color: var(--underline);
  margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-1,
.menu-bar ul li:hover .sub-menu-lang {
  display: block;
  position: absolute;
  z-index: 111;
}

.sub-menu-lang ul li {
  padding: 10px;
  background: white;
  padding-top: 0px;
}

.sub-menu-lang ul li a {
  font-size: 20px;
  color: #000000;
}

/* burger menu */

body.menu {
  overflow: hidden;
}

.header__logo a img {
  width: 237px;
  height: 57px;
}

.header__nav.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 10px 0;
  z-index: 12;
}

.menu-bar.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.header__list.menu,
.header__setup.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__list.menu a {
  color: #000;
}

/* slider */

.home-slider {
  position: relative;
  height: 100vh;
  min-height: 580px;
  max-height: 720px;
  color: #fff;
  background: var(--dark);
}

.home-slider__slide {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  /* position: relative; */
}

.home-slider__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-slider__slide .container {
  z-index: 2;
  position: relative;
}

[data-animate] {
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

[data-animate=bottom] {
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0) scale(2);
}

.swiper-slide .container {
  display: flex;align-items: center;
  justify-content: center;
}

.home-slider__slide.swiper-slide-active [data-animate] {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.home-slider__slide.swiper-slide-active .home-slider__heading {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.home-slider__slide.swiper-slide-active .home-slider__text {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.home-slider__heading {
  font-size: 58px;
  font-weight: 300;
  line-height: 0.8;
  margin-bottom: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.home-slider__heading span {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 15px 7px;
  background: var(--accent);
  border-radius: var(--radius-style);
}

.home-slider__text {
  padding: 15px 22px;
  background: rgba(32, 35, 40, 0.9);
  line-height: 170%;
  max-width: 440px;
  width: 100%;
  border-radius: 0 calc(var(--radius) * 2);
  font-size: 14px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 5px;
  height: 17px;
  width: 17px;
  margin: 0var --swiper-pagination-bullet-horizontal-gap, 4px;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: white;
}

.row {
  --bs-gutter-x: 0 !important;
}

ol,
ul {
  padding-left: 0 !important;
}

.swiper-pagination {
  z-index: 1 !important;
}

/* category start */

.category__sort {
  margin-bottom: 50px;
}

.category__sort-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  gap: 50px;
}

.category__sort-card-desc {
  padding: 0 5px;
}

.category__sort-card-img {
  max-width: 390px;
  max-height: 290px;
  overflow: hidden;
  border-radius: var(--radius);
}

.category__sort-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.category__sort-card {
  max-width: 390px;
  width: 100%;
  border-radius: var(--radius);
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 50px rgba(45, 41, 34, 0.2), inset 0px 0px 3px rgba(51, 51, 50, 0.25);
  box-shadow: 0px 20px 50px rgba(45, 41, 34, 0.2), inset 0px 0px 3px rgba(51, 51, 50, 0.25);
  padding: 12px 10px;
}

.category__sort-card-title {
  font-size: 20px;
  margin: 10px 0;
}

.category__sort-card-txt {
  margin-bottom: 10px;
}

.category__sort-card-btn:hover,
.info__btn:hover {
  color: #010101;
}

/* category end */

/* product start */

.product__title {
  font-size: 36px;
  margin-bottom: 50px;
}

.info__btns {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}

/* product end */

/* info start */

.info__cards {
  display: flex;
  justify-content: center;
  flex-flow:
    wrap;
  gap: 30px;
}

.info__card {
  max-width: 400px;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: var(--radius);
  background: #fff;
  box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
  position: relative;
}

.info__card:hover .info__card-txt {
  border-left: 4px solid rgb(55, 198, 93);
}

.info__card:hover .info__card-btn {
  color: rgb(55, 198, 93);
}

.info__card-inner {
  box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
  text-align: left;
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  padding: 25px 50px;
}

.info__card-title {
  font-size: 24px;
  font-weight: 700;
  color: #111;
  margin-bottom: 18px;
}

.info__card-txt {
  font-size: 14px;
  color: #666;
  /* position: relative; */
  border-left: #111 4px solid;
  padding-left: 19px;
  margin: 0 0 5px -21px;
  transition: .7s;
  margin-bottom: 5px;
}

.info__card-btn {
  transition: .7s;
}


/* .info__card-txt::after {
  position: absolute;
  content: '';
  width: 2px;
  border-radius: var(--radius);
} */

/* info start */

.icons {
  background: var(--accent);
}

.icons .container {
  display: flex;
}

.icons img {
  transition: .3s;
}

.icons img:hover {
  transform: scale(1.1);
}

.catalogue__title {
  padding-top: 50px;
}

.catalogue .container {
  text-align: center;
}

.catalogue__btn {
  display: block;
  width: max-content;
  margin: 50px auto 0;
}

.info__prod {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.info__prod-txt {
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.info__prod-img {
  max-width: 400px;
}

.info__prod-img img {
  width: 100%;
  object-fit: cover;
}